* {
  background-color: black;
  color: white;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  color: #00a9ff;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: #0095e1;
}
